@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

.description-container{
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    right: 10%;
    top: 20%;
    
}
.title{
    font-size: 5rem;
    font-weight: 300;
    width: 30rem;
    padding: 0;
    
}
.description{
    font-size: 1.3rem;
    width: 34ch;
    word-spacing: 0.054rem;
    font-weight: 300;
}